{% extends "base.html" %}

{% block the_body %}

    <div id="header">
    <h2><a href="{{ owner_data_url }}"> {{ user }}</a></h2>


    <table border=1>
        <th>Journey ID</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Registration</th>
        {% for i in result %}
            <tr>
                <th> {{ i[0] }} </th>
                <td> {{ i[1] }} |</td>
                <td> {{ i[2] }} |</td>
                <td> {{ i[3] }} |</td>
                <td> <a href="/getTimestamp?id={{ i[0] }}" >Timestamp Data </a>|</td>
            </tr>
        {% endfor %}
    </table>

    <a href={{home_url}}>Home</a><br>
    <a href={{sign_out_url}}>Sign Out</a>
    </div>
{% endblock %}
