
{% extends "base.html" %}

{% block the_body %}
<style>

    #header form {
        margin-right: 30px;
        height: 40px;
        padding-top: 8px;
    }

    #header form label {
        display: inline-block;
        margin: 0 2px;
    }

</style>
    <div id="header">
        <h1>Login</h1>
        <a href={{ register_url }}>Register</a>
        <form method="post" action="login">
            <label>Username <input type="text" name="Username" ></label><br>
            <label>Password<input type="password" name="Password" ></label>
            <input type="submit" class="submit" value="Submit">
        </form>
        <li>{{ messages if messages != None }}</li>

    </div>
    <br>


{% endblock %}
