{% extends "base.html" %}

{% block the_body %}
    <div id="header">
    <p>
        Here is the data stored about your vehicle
    </p>


    <table border=1>
        <th>Username</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        {% for i in result %}
            <tr>
                <th> {{ i[0] }} </th>
                <td> {{ i[1] }} </td>
                <td> {{ i[2] }} </td>
                <td> {{ i[3] }} </td>
            </tr>
        {% endfor %}
    </table>
    <a href={{home_url}}>Home</a><br>
    <a href={{sign_out_url}}>Sign Out</a>
    </div>
{% endblock %}
