{% extends "base.html" %}
{% block the_body %}
    {{ working_dir }}
    <div id="header">
    <h2>{{ user }}</h2>
        Please select from this list of options:
        <ul>

            <a href="{{ vehicle_data_url }}"><img src="static/vehicleData.jpg" /></a>
            <a href="{{ add_vehicle_url }}"><img src="static/newVehicle.jpg" /></a>
            <li>Add a vehicle <a href="{{add_vehicle_url}}">here</a>.
            <li>View Owner Data <a href="{{owner_data_url}}">here</a>.

        </ul>
        <body>{{ messages if messages != None }}
        <a href="{{ sign_out_url }}">Sign Out</a></body>
    </div>


{% endblock %}
