{% extends "base.html" %}
{% block the_body %}
    <div id="header">
    <h2><a href="{{ owner_data_url }}"> {{ user }}</a></h2>
        Please select from this list of options:
        <ul>
            <li> <a href="{{vehicle_data_url}}">View vehicle data</a>.
            <li> <a href="{{add_vehicle_url}}">Add a vehicle</a>.
            <li> <a href="{{add_vehicle_url}}">Add a vehicle</a>.

        </ul>
        <body>{{ messages if messages != None }}
        <a href="{{ sign_out_url }}">Sign Out</a></body>
    </div>


{% endblock %}
